@model TracNghiem.Models.DeThi

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DeThi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NgayThi" class="control-label"></label>
                <input asp-for="NgayThi" class="form-control" />
                <span asp-validation-for="NgayThi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianThi" class="control-label"></label>
                <input asp-for="ThoiGianThi" class="form-control" />
                <span asp-validation-for="ThoiGianThi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenDeThi" class="control-label"></label>
                <input asp-for="TenDeThi" class="form-control" />
                <span asp-validation-for="TenDeThi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongCauKho" class="control-label"></label>
                <input asp-for="SoLuongCauKho" class="form-control" />
                <span asp-validation-for="SoLuongCauKho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongCauHoi" class="control-label"></label>
                <input asp-for="SoLuongCauHoi" class="form-control" />
                <span asp-validation-for="SoLuongCauHoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
