@model TracNghiem.Models.CauHoi

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CauHoi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CauHoi1" class="control-label"></label>
                <input asp-for="CauHoi1" class="form-control" />
                <span asp-validation-for="CauHoi1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DapAnA" class="control-label"></label>
                <input asp-for="DapAnA" class="form-control" />
                <span asp-validation-for="DapAnA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DapAnB" class="control-label"></label>
                <input asp-for="DapAnB" class="form-control" />
                <span asp-validation-for="DapAnB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DapAnC" class="control-label"></label>
                <input asp-for="DapAnC" class="form-control" />
                <span asp-validation-for="DapAnC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DapAnD" class="control-label"></label>
                <input asp-for="DapAnD" class="form-control" />
                <span asp-validation-for="DapAnD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DapAn" class="control-label"></label>
                <input asp-for="DapAn" class="form-control" />
                <span asp-validation-for="DapAn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GhiChu" class="control-label"></label>
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaMonHoc" class="control-label"></label>
                <input asp-for="MaMonHoc" class="form-control" />
                <span asp-validation-for="MaMonHoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaMucDo" class="control-label"></label>
                <input asp-for="MaMucDo" class="form-control" />
                <span asp-validation-for="MaMucDo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
